Config = {
	// *** Server
	host: 	'192.168.1.201',
	port: 	1337,
	// *** Params
	Games: 		{ NB_PLAYER: 4 },
	// *** Constants
	Card: 		{ N:1, E:2, S:4, W:8, NE:3, NW:9, SE:6, SW: 12},
	States: 	{ MOVING:1, STUNNED: 2, DEAD: 4 },
	Events: 	{ ATTACK:1, SMOKE:2 },
	Times: 		{ NB_FRAME_SEC: 30,	STUN_DURATION: 5 },
	GameStates: { STOPPED: 1, READY: 2, STARTED: 3, AWAITING_PLAYERS: 4 }
}

exports.Config = Config;